.article-large,
.article-small {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  height: 100%;
}

.article-large img {
  margin-bottom: 15px;
}

.article-small img {
  margin-bottom: 10px;
}

.article-large h2 {
  font-size: 24px;
}

.article-small h3 {
  font-size: 18px;
}

.btn {
  margin-top: 10px;
}
